<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <div class="container header-container">
        <img src="media/projeco-logo.svg" alt="logo" title="Konstruct">
        <div>
            <h1>Partner with Konstuct</h1>
            <p>An award-winning construction management firm</p>
        </div>
        <button type="button">Scroll down</button>
    </div>

    <nav>
        <div class="wrapper nav-wrapper">
            <div class="nav-logo">
                <img src="media/logo_second.svg" alt="Konstruct" title="Konstruct">
            </div>
            <ul>
                <li><a href="" rel="">Home</a></li>
                <li><a href="" rel="">About</a></li>
                <li><a href="" rel="">Services</a></li>
                <li><a href="" rel="">WORK</a></li>
                <li><a href="" rel="">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="wrapper main-container">
        <section class="our-story">
            <h2>Our Story</h2>
            <div class="our-story_wrapper">
                <div class="textblock">
                    <p class="textblock-title">
                        Founded in 2011 by John Mathew Smith, <strong>Konstruct</strong> has become
                        the number one construction management firm
                    </p>
                    <p class="textbox-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    </p>
                </div>
                <div class="our-story_imageblock">
                    <ul>
                        <li>We <br>plan</li>
                        <li>We <br>manage</li>
                        <li>We <br>build</li>
                    </ul>
                </div>
            </div>

        </section>
        <section class="our-capabilities">
            <div class="our-capabilities_wrapper">
                <h2>Our Capabilities</h2>
                <p class="textbox-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat.
                </p>
                <button type="submit" class="btn-blue">All Services</button>
            </div>

            <div class="our-capabilities_articles">
                <article class="article-container">
                    <div>
                        <img src="media/Bitmap_management.svg" alt="project and construction management"
                             title="project and construction management">
                    </div>
                    <p class="textblock-title">Project and CONSTRUCTION MANAGEMENT</p>
                    <p class="textbox-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    </p>
                </article>
                <article class="article-container">
                    <div>
                        <img src="media/Bitmap_maintence.svg" alt="structure audit and maintenance"
                             title="structure audit and maintenance">
                    </div>
                    <p class="textblock-title">STRUCTURE audit AND MAINTENANCE</p>
                    <p class="textbox-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    </p>
                </article>
                <article class="article-container">
                    <div>
                        <img src="media/Bitmap_modeling.svg" alt="factory construction and modeling"
                             title="actory construction and modeling">
                    </div>
                    <p class="textblock-title">FACTORY CONSTRUCTION AND MODELING</p>
                    <p class="textbox-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                    </p>
                </article>
            </div>
        </section>
    </div>

    <div class="get_in_touch">
        <div>
            <h3>Want to build something amazing?</h3>
            <button type="submit" class="btn-blue">Get in touch</button>
        </div>
    </div>

    <div class="sign_up-container">
        <h3>Newsletter Signup</h3>

        <form action="">
            <input type="email" placeholder="test@youremail.com">
            <button type="submit" class="btn-blue">SIGNUP</button>
        </form>
    </div>

</main>

<footer>
    <div class="wrapper">
        <div class="footer-content_main-block">
            <div class="company-info-content">
                <h3>Company</h3>
                <img src="media/projeco-logo.svg" alt="logo" title="Konstruct">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat.</p>
            </div>
            <div class="company-links-content">
                <h3>Links</h3>
                <div class="company-links">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">SERVICES</a>
                    <a href="#">PROJECTS</a>
                    <a href="#">CONTACT US</a>
                    <a href="#">AQ</a>
                    <a href="#">TERMS</a>
                    <a href="#">CAREERS</a>
                    <a href="#">BLOG</a>
                    <a href="#">PARTNERS</a>
                    <a href="#">NEWS</a>
                </div>
            </div>
            <div class="company-contacts-content">
                <h3>Contact us</h3>
                <p>213 Baker Street<br>Oriel City Kounty<br>7000 KNW,<br>Kountry Name
                    <br><br>+23 994 233 4022<br><br>info@konstruct.com</p>

                <ul>
                    <li>
                        <div class="contact-icon">
                            <img src="" alt="facebook" title="facebook">
                        </div>
                    </li>
                    <li>
                        <div class="contact-icon">
                            <img src="media/twitter_icon.svg" alt="twitter" title="twitter">
                        </div>
                    </li>
                    <li>
                        <div class="contact-icon">
                            <img src="media/google_icon.svg" alt="google" title="google">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-content_rights">
            <p>© 2017 Konstruct Inc. Designed by Jane Kathryn Teo</p>
        </div>
    </div>
</footer>
</body>
</html>