<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <div class="logoMain">
        <img src="" alt="Konstruct" title="Konstruct">
    </div>
    <h1>PARTNER WITH KONSTUCT</h1>
    <h4>An award-winning construction management firm</h4>
    <h6>SCROLL DOWN</h6>
    <nav>
        <div class="logoNav">
            <img src="" alt="Konstruct" title="Konstruct">
        </div>
        <ul>
            <li>HOME</li>
            <li>ABOUT</li>
            <li>SERVICES</li>
            <li>WORK</li>
            <li>CONTACT</li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>OUR STORY</h2>
        <div class="textblock">
            <div class="textblock-title">
                <b>
                    Founded in 2011 by John Mathew Smith, <strong>Konstruct</strong> has become
                    the number one construction management firm
                </b>
            </div>

            <p class="textbox-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            </p>
        </div>

        <div class="imageblock">
            <ul>
                <li>
                    <h4>WE <br>PLAN</h4>
                    <div class="imageblock-image">
                        <img src="" alt="we plan" title="we plan">
                    </div>
                </li>
                <li>
                    <h4>WE <br>MANAGE</h4>
                    <div class="imageblock-image">
                        <img src="" alt="we manage" title="we manage">
                    </div>
                </li>
                <li>
                    <h4>WE <br>BUILD</h4>
                    <div class="imageblock-image">
                        <img src="" alt="we build" title="we build">
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <section>
        <h2>OUR CAPABILITIES</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat.
        </p>
        <button type="submit">ALL SERVICES</button>

        <article>
            <div class="article-image">
                <img src="" alt="project and construction management" title="project and construction management">
            </div>
            <h3>PROJECT AND CONSTRUCTION MANAGEMENT</h3>
            <p class="textbox-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            </p>
        </article>

        <article>
            <div class="article-image">
                <img src="" alt="structure audit and maintenance" title="structure audit and maintenance">
            </div>
            <h3>STRUCTURE AUDIT AND MAINTENANCE</h3>
            <p class="textbox-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            </p>
        </article>

        <article>
            <div class="article-image">
                <img src="" alt="factory construction and modeling" title="actory construction and modeling">
            </div>
            <h3>FACTORY CONSTRUCTION AND MODELING</h3>
            <p class="textbox-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            </p>
        </article>
    </section>

    <div id="sectionContact">
        <h3>Want to build something amazing?</h3>
        <button type="submit">GET IN TOUCH</button>
    </div>

    <div id="signUpForm">
        <h3>Newsletter Signup</h3>
        <input type="email" id="email">
        <button type="submit">SIGNUP</button>
    </div>
</main>

<footer>
    <div class="footer-content__main-block">
        <h6>COMPANY</h6>
        <div class="logoMain">
            <img src="" alt="Konstruct" title="Konstruct">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat.</p>
    </div>

    <div class="footer-content__links-block">
        <h6>LINKS</h6>
        <ul>
            <li>HOME</li>
            <li>ABOUT</li>
            <li>SERVICES</li>
            <li>PROJECTS</li>
            <li>CONTACT US</li>
            <li>FAQ</li>
            <li>TERMS</li>
            <li>CAREERS</li>
            <li>BLOG</li>
            <li>PARTNERS</li>
            <li>NEWS</li>
        </ul>
    </div>

    <div class="footer-content__contact-block">
        <h6>CONTACT US</h6>
        <p>213 Baker Street<br>Oriel City Kounty<br>7000 KNW,<br>Kountry Name
            <br><br>+23 994 233 4022<br><br>info@konstruct.com</p>

        <ul>
            <li>
                <div class="contact-icon">
                    <img src="" alt="facebook" title="facebook">
                </div>
            </li>
            <li>
                <div class="contact-icon">
                    <img src="" alt="twitter" title="twitter">
                </div>
            </li>
            <li>
                <div class="contact-icon">
                    <img src="" alt="google" title="google">
                </div>
            </li>
        </ul>
    </div>

    <div class="footer-content__rights">
        <p>© 2017 Konstruct Inc. Designed by Jane Kathryn Teo</p>
    </div>

</footer>
</body>
</html>